<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-zinc-800">
    <!-- Start your project here-->
    <div class="mx-5 xl:mx-96">
      <br />
      <br />
      <br />
      <h2>Basic example</h2>
      <section
        class="flex flex-wrap justify-center rounded-2xl border p-4 text-center">
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl bg-zinc-50 px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none dark:bg-neutral-700 dark:text-white"
          data-te-close="true">
          Text
        </div>

        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl bg-zinc-50 px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none dark:bg-neutral-700 dark:text-white">
          <img
            class="my-0 -ml-3 mr-2 h-[inherit] w-[inherit] rounded-full"
            src="https://tecdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
            alt="Contact Person" />
          John Doe
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>

        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-[42px] cursor-pointer items-center justify-between rounded-[21px] bg-zinc-50 px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none dark:bg-neutral-700 dark:text-white">
          <img
            class="my-0 -ml-3 mr-2 h-[inherit] w-[inherit] rounded-full"
            src="https://tecdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
            alt="Contact Person" />
          John Doe
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>

        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-[52px] cursor-pointer items-center justify-between rounded-[26px] bg-zinc-50 px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:!shadow-none dark:bg-neutral-700 dark:text-neutral-200">
          <img
            class="my-0 -ml-3 mr-2 h-[inherit] w-[inherit] rounded-full"
            src="https://tecdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
            alt="Contact Person" />
          John Doe
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
      </section>

      <br />
      <br />
      <br />

      <h2>Outline</h2>

      <section
        class="flex flex-wrap items-center justify-center rounded-2xl border p-4 text-center">
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-primary bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-primary-600 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Primary

          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-secondary bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-secondary-600 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Secondary

          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-success bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-success-600 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Success
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class=" [word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-danger bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-danger-600 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Danger
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-warning bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-warning-600 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Warning
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-info bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-info-600 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Info
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-neutral-200 bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-neutral-400 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Light
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
        <div
          data-te-chip-init
          data-te-ripple-init
          class="[word-wrap: break-word] my-[5px] mr-4 flex h-8 cursor-pointer items-center justify-between rounded-2xl border border-neutral-800 bg-[transparent] px-3 py-0 text-[13px] font-normal normal-case leading-loose text-surface shadow-none transition-[opacity] duration-300 ease-linear hover:border-neutral-900 hover:!shadow-none active:bg-zinc-50 dark:text-white active:dark:bg-neutral-700"
          data-te-ripple-color="dark">
          Dark
          <span
            data-te-chip-close
            class="float-right w-4 cursor-pointer pl-2 text-[16px] text-black/30 opacity-[.53] transition-all duration-200 ease-in-out hover:text-black/50 dark:text-white/30 dark:hover:text-white/50 [&>svg]:h-3 [&>svg]:w-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-3 w-3">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12" />
            </svg>
          </span>
        </div>
      </section>

      <br />
      <br />
      <br />

      <h2>Placeholder</h2>

      <section
        class="flex flex-wrap items-center justify-center rounded-2xl border p-4 text-center">
        <div
          data-te-chips-input-init
          data-te-chips-placeholder
          class="mb-0 min-h-[45px] border-none pb-0 shadow-none outline-none transition-all duration-300 ease-[cubic-bezier(0.25,0.1,0.25,1)] hover:cursor-text"></div>
      </section>

      <br />
      <br />
      <br />

      <h2>Initial Values</h2>

      <section
        class="flex flex-wrap items-center justify-center rounded-2xl border p-4 text-center">
        <div
          id="chips-initial"
          data-te-chips-initial
          class="mb-0 min-h-[45px] border-none pb-0 shadow-none outline-none transition-all duration-300 ease-[cubic-bezier(0.25,0.1,0.25,1)] hover:cursor-text"></div>
      </section>

      <br />
      <br />
      <br />

      <h2>Editable</h2>

      <section
        class="flex flex-wrap items-center justify-center rounded-2xl border p-4 text-center">
        <div
          data-te-chips-input-init
          data-te-chips-placeholder
          class="mb-0 min-h-[45px] border-none pb-0 shadow-none outline-none transition-all duration-300 ease-[cubic-bezier(0.25,0.1,0.25,1)] hover:cursor-text"
          data-te-editable="true"></div>
      </section>
    </div>

    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="module">
      import * as te from "../../../src/js/index.umd.js";

      document.addEventListener("DOMContentLoaded", () => {
        const chipsInitialNew = document.querySelector("#chips-initial");

        const newChipsNew = new te.ChipsInput(chipsInitialNew, {
          initialValues: [
            { tag: "MDBReact" },
            { tag: "MDBAngular" },
            { tag: "MDBVue" },
            { tag: "MDB5" },
            { tag: "MDB" },
          ],
        });
      });
    </script>
  </body>
</html>
