<!--
--------------------------------------------------------------------------
TW Elements is an open-source UI kit of advanced components for TailwindCSS.
Copyright © 2023 MDBootstrap.com

Unless a custom, individually assigned license has been granted, this program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
In addition, a custom license may be available upon request, subject to the terms and conditions of that license. Please contact tailwind@mdbootstrap.com for more information on obtaining a custom license.
This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

If you would like to purchase a COMMERCIAL, non-AGPL license for TWE, please check out our pricing: https://tw-elements.com/pro/
--------------------------------------------------------------------------
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="TW Elements" />
    <title>Album example · Bootstrap v5.1</title>

    <!-- Roboto font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet" />
    <!-- Tailwind -->
    <link rel="stylesheet" href="../../../src/scss/tailwind.scss" />
    <!-- PRISM -->
    <link rel="stylesheet" href="../../dev/css/new-prism.css" />
    <!-- Theme -->
    <meta name="theme-color" content="#f8fafc" />
    <script>
      try {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
          document
            .querySelector('meta[name="theme-color"]')
            .setAttribute("content", "#0B1120");
        } else {
          document.documentElement.classList.remove("dark");
        }
      } catch (_) {}
    </script>
    <!-- Custom styles -->
    <style></style>
  </head>

  <body class="dark:bg-body-dark">
    <!-- Start your project here-->
    <div class="mx-6 md:mx-16 lg:mx-44 xl:mx-96">
      <br />
      <br />
      <br />

      <h1 class="my-0 text-5xl font-medium leading-tight text-neutral-800">
        List group
      </h1>

      <br />
      <br />
      <br />

      <h3 class="mb-4 text-3xl font-medium leading-tight text-red-600">
        Basic example
      </h3>

      <div class="flex justify-center">
        <ul class="w-96 text-surface dark:text-white">
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            An item
          </li>
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            A second item
          </li>
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            A third item
          </li>
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            A fourth item
          </li>
          <li class="w-full py-4">And a fifth one</li>
        </ul>
      </div>

      <br />
      <br />
      <br />

      <h3 class="mb-4 text-3xl font-medium leading-tight text-red-600">
        Active items
      </h3>

      <div class="flex justify-center">
        <ul class="w-96 text-surface dark:text-white">
          <li
            class="w-full rounded-lg bg-primary-100 p-4 text-primary-700 dark:bg-slate-900 dark:text-primary-500">
            An active item
          </li>
          <li class="w-full p-4">A second item</li>
          <li class="w-full p-4">A third item</li>
          <li class="w-full p-4">A fourth item</li>
          <li class="w-full p-4">And a fifth one</li>
        </ul>
      </div>

      <br />
      <br />
      <br />

      <h3 class="mb-4 text-3xl font-medium leading-tight text-red-600">
        Disabled items
      </h3>

      <div class="flex justify-center">
        <ul class="w-96 text-surface dark:text-white">
          <li
            class="w-full cursor-default border-b-2 border-neutral-100 py-4 text-surface/50 dark:border-white/10 dark:text-white/50">
            A disabled item
          </li>
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            A second item
          </li>
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            A third item
          </li>
          <li
            class="w-full border-b-2 border-neutral-100 py-4 dark:border-white/10">
            A fourth item
          </li>
          <li class="w-full py-4">And a fifth one</li>
        </ul>
      </div>

      <br />
      <br />
      <br />

      <h3 class="mb-4 text-3xl font-medium leading-tight text-red-600">
        Links
      </h3>

      <div class="flex justify-center">
        <div class="w-96 text-surface dark:text-white">
          <a
            href="#!"
            aria-current="true"
            class="block w-full cursor-pointer rounded-lg bg-primary-100 p-4 text-primary-700 dark:bg-slate-900 dark:text-primary-500">
            The current link item
          </a>
          <a
            href="#!"
            class="block w-full cursor-pointer rounded-lg p-4 transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
            A second link item
          </a>
          <a
            href="#!"
            class="block w-full cursor-pointer rounded-lg p-4 transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
            A third link item
          </a>
          <a
            href="#!"
            class="block w-full cursor-pointer rounded-lg p-4 transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
            A fourth link item
          </a>
          <a
            href="#!"
            class="pointer-events-none block w-full p-4 text-surface/50 focus:outline-none focus:ring-0 dark:text-white/50">
            A disabled link item
          </a>
        </div>
      </div>

      <br />
      <br />
      <br />

      <h3 class="mb-4 text-3xl font-medium leading-tight text-red-600">
        Buttons
      </h3>

      <div class="flex justify-center">
        <div class="w-96 text-surface dark:text-white">
          <button
            aria-current="true"
            type="button"
            class="block w-full rounded-lg bg-primary-100 p-4 text-left text-primary-700 dark:bg-slate-900 dark:text-primary-500">
            The current button
          </button>
          <button
            type="button"
            class="block w-full rounded-lg p-4 text-left transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
            A second button item
          </button>
          <button
            type="button"
            class="block w-full rounded-lg p-4 text-left transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
            A third button item
          </button>
          <button
            type="button"
            class="block w-full rounded-lg p-4 text-left transition duration-500 hover:bg-zinc-50 hover:text-black focus:bg-zinc-50 focus:text-black focus:ring-0 active:bg-zinc-100 active:text-surface dark:hover:bg-neutral-700/60 dark:hover:text-white dark:focus:bg-neutral-700/60 dark:focus:text-white dark:active:bg-surface dark:active:text-white">
            A fourth button item
          </button>
          <button
            disabled=""
            type="button"
            class="pointer-events-none block w-full p-4 text-left text-surface/50 focus:outline-none focus:ring-0 dark:text-white/50">
            A disabled button item
          </button>
        </div>
      </div>

      <br />
      <br />
      <br />
    </div>
    <!-- End your project here-->

    <!-- Theme switcher -->
    <script type="module" src="../../../src/js/theme.js"></script>
    <!-- MDB -->
    <script type="module" src="../../../src/js/index.umd.js"></script>
    <!-- PRISM -->
    <script type="module" src="../../dev/js/new-prism.js"></script>
    <!-- MDB SNIPPET -->
    <script type="module" src="../../dev/js/dist/mdbsnippet.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
